In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
import datetime as dt

from pandas_datareader import data as pdr

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

## Data preprocessing

In [25]:
import pandas
from pandas_datareader import data as pdr
import yfinance as yfin


yfin.pdr_override()

data = pdr.get_data_yahoo('META', start='2012-01-01', end='2022-01-01')

print(len(data))

[*********************100%%**********************]  1 of 1 completed
2422

In [26]:
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2012-05-18  42.049999  45.000000  38.000000  38.230000  38.230000  573576400
2012-05-21  36.529999  36.660000  33.000000  34.029999  34.029999  168192700
2012-05-22  32.610001  33.590000  30.940001  31.000000  31.000000  101786600
2012-05-23  31.370001  32.500000  31.360001  32.000000  32.000000   73600000
2012-05-24  32.950001  33.209999  31.770000  33.029999  33.029999   50237200

# Model

# Training the model

# Inference